/*!
 * CSS Fruity Orange - v. 2.0
 * 2015 - Alex Aragón (aragonc@beeznest.com)
 * Licensed GPL
 * Based on Bootstrap
*/

@font-face {
  font-family: 'Dosis', sans-serif;
  src: url('https://fonts.googleapis.com/css2?family=Dosis&display=swap');
}
@font-face {
  font-family: 'Dosis', sans-serif;
  src: url('https://fonts.googleapis.com/css2?family=Dosis&display=swap');
}
@font-face {
  font-family: 'Dosis', sans-serif;
  src: url('https://fonts.googleapis.com/css2?family=Dosis&display=swap');
}
@font-face {
  font-family: 'Dosis', sans-serif;
  src: url('https://fonts.googleapis.com/css2?family=Dosis&display=swap');
}
html {
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}
body {
  margin: 0;
  font-family: 'Dosis', sans-serif;
  line-height: 1.72222;
  background-color: #F3F3F3;
}
a{
  color: #666666;
}
a:hover{
  color: #50B387;
  text-decoration: none;
}

.navbar-default {
background: #E61983; 
border: none;
font-size: 2rem;
font-weight: bold;

}
.navbar-default .navbar-brand {
  color: #ffffff;
}

.navbar-default .navbar-text {
  color: #ffffff;
}

.navbar-default .navbar-nav > li {
  
  padding-top: 15px;
  padding-bottom: 15px;
}

.navbar-default .navbar-nav > li > a {
  color: #FFFFFF;
}
.navbar-default .navbar-nav > li > a:hover, .navbar-default .navbar-nav > li > a:focus {
color: #FFFFFF;
/*background: #d30d91;*/ 
}
.navbar-default .navbar-nav > li > .dropdown-menu {
  background: #FFFFFF;
}
.navbar-default .navbar-nav > li > .dropdown-menu > li > a {
  color: #ffffff;
}
.navbar-default .navbar-nav > li > .dropdown-menu > li{
    border: none;
}
.navbar-default .navbar-nav > li > .dropdown-menu > li > a:hover,
.navbar-default .navbar-nav > li > .dropdown-menu > li > a:focus {
  color: #FFFFFF;
/*background: #d30d91;*/
}
.navbar-default .navbar-nav > li > .dropdown-menu > li > .divider {
  background-color: #0099c0;
}
.navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:hover, .navbar-default .navbar-nav > .active > a:focus {
  color: #FFFFFF;
  background: #E61983; 
  /*background: #d30d91;*/; 
}
.navbar-default .navbar-nav > .open > a, .navbar-default .navbar-nav > .open > a:hover, .navbar-default .navbar-nav > .open > a:focus {
  color: #FFFFFF;
  /*background: #d30d91;*/ 
}
.navbar-default .navbar-toggle {
  border-color: #6D0019;
}
.navbar-default .navbar-toggle:hover, .navbar-default .navbar-toggle:focus {
  background-color: #6D0019;
}
.navbar-default .navbar-toggle .icon-bar {
  background-color: #ffffff;
}
.navbar-default .navbar-collapse,
.navbar-default .navbar-form {
  border-color: #6D0019;
}
.navbar-default .navbar-link {
  color: #ffffff;
}
.navbar-default .navbar-link:hover {
  color: #ededed;
}
.badge{
    background-color: #50B387;
}
@media (max-width: 767px) {
  .navbar-default .navbar-nav .open .dropdown-menu > li > a:hover, .navbar-default .navbar-nav .open .dropdown-menu > li > a:focus {
    color: #ededed;
    background-color: #6D0019;
  }
  .navbar-default .navbar-nav .open .dropdown-menu > .active > a, .navbar-default .navbar-nav .open .dropdown-menu > .active > a:hover, .navbar-default .navbar-nav .open .dropdown-menu > .active > a:focus {
    color: #ededed;

    background-color: #0099c0;
  }
}
.breadcrumb{
  background: #F9F9F9;
  color: #006A84;
}
.nav li a:hover{
    background: transparent;
}
.panel-default .panel-heading{
    background-color: #EBECF2;
}
.panel-default{
    border-color: #F3F3F4;
}

footer{
  position: absolute !important;
  top: 100%;
}

footer.bgfooter{
  background: #000000;

}
footer.bgfooter a{
  color: #ffffff;
}
footer.bgfooter a:hover{
  color: #CCC;
}

/*Page acceuil */

.tuile{
  margin-left: 0px; 
  margin-top: 0px; 
  padding: 15px;
}
#cm-content{
  background-color: #F3F3F3;
}

.thumbnail{
  max-height: 340px !important;
  padding: 0px !important;
  margin-bottom: 50px;
  cursor: pointer;
}
.thumbnail .block-title{
  height: 25% !important;
  min-height: 125px !important;
  padding: 5px 0 5px 0;
}

.thumbnail .title{
  padding: 0 15px 0 15px;
  font-weight: bolder !important; 
  display: flex;
}
.thumbnail a > img{
  max-height: 220px;
  width: 100%;
  margin: 0 !important;
}
.title-text{
  width: 85%
}

.block-tag{
  padding: 0 15px 0 15px; 
  font-size: 1.8rem; 
  margin-top: 6%; 
  color: white
}


.navbar-default .navbar-nav > .open > a, .navbar-default .navbar-nav > .open > a:hover, .navbar-default .navbar-nav > .open > a:focus {
  background: #E61983 !important;
}
.navbar-default{
  color: white !important;
}

.block-title .title{
  font-size: 20px;
  color: white !important;
}

a{
  color: inherit !important;
}
.ranking{
  color: white !important;
}
#rating_wrapper_star_3{
  color: inherit !important;
}

.dropdown-menu{
  color: black !important;
}

.ranking{
  display: inline-block;
}

.triangle{
  width: 50px;
  height: 50px; 
  position: absolute; 
  z-index: 0; 
  background-color: white; 
  transform: skew(-70deg, 65deg);
  margin-left: 100px; 
  top: 450px; 
  display: none;
}
.thumbnail .items-hotcourse .img-responsive{
  width: 100%;
}

/* Icone chevron */
.gg-chevron-right-o {
  box-sizing: border-box;
  position: relative;
  display: block;
  transform: scale(var(--ggs,1));
  width: 22px;
  height: 22px;
  border: 2px solid;
  border-radius: 100px;
  margin: 15px auto auto auto;

}
.gg-chevron-right-o::after {
  content: "";
  display: block;
  box-sizing: border-box;
  position: absolute;
  width: 6px;
  height: 6px;
  border-bottom: 2px solid;
  border-right: 2px solid;
  transform: rotate(-45deg);
  left: 5px;
  top: 6px
}

/* Background Color */

.background_1{
  background-color: #FF3246;
}

.background_2{
  background-color: #E61983;
}

.background_3{
  background-color: #20124DFF;
}

.background_4{
  background-color: #6DEAEE;
}

.background_5{
  background-color: #24989c;
}

.background_6{
  background-color: #5e0abe;
}

/*Button */

.course_button{
  width: 100%;
  padding: 0 25% 0 25%;
  margin-top: 5%;
}

.course_button .btn{
  width: 100%;
  font-size: large !important;
  color: white !important;
  background-color: #E61983 !important;
  border-color: #E61983 !important;
}

.course_button .btn:hover{
  color: #E61983 !important;
  background-color: white !important;
  border-color: #E61983 !important;
}

.course_button .btn-primary:hover{
  color: #E61983 !important;
  background-color: white !important;
  border-color: #E61983 !important;
}

.unsubscribe_button{
  width: 100%;
  padding: 0 25% 0 25%;
}

.unsubscribe_button .btn-danger{
  width: 100%;
  background-color: white !important; 
  border-color: white !important;
}
/* forumaile */
#formLogin_submitAuth{
  background-color: #E61983;
  border-color: #b4025e;
}

/* Photo de profile */

.sidebar-avatar .area-avatar .img-circle {
  border: none !important;
}

#learning_path_toc{
  position: relative !important;
  top: unset !important;
  left: unset !important;
  right: unset !important;
  bottom: unset !important;
}
.menu-button{
  top: 90px !important;
}
#content-scorm{
  height: 90% !important;
}
#scorm-info{
  background-color: transparent !important;
}
.scorm_item_normal{
  background-color: transparent !important;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  padding: 0;
  border-collapse: collapse;
  border: white 1px solid;
  margin:-2px 0 0 -1px;
}
.scorm_completed .item, .scorm_item_normal.scorm_completed{
  background: none !important;
}
.scorm_item_normal .item{
  flex-grow: 2;
  padding-left: 10px;
  border: white 1px solid;
  border-collapse: collapse;
  font-weight: bolder;
}
.scorm_item_normal .item{
  width: 35px;
  border: white 1px solid;
  border-collapse: collapse;
}
.scorm_completed.scorm_highlight .item{
  background: none !important;
  background-color: #00829C !important;
}
.scorm_completed .item {
  background: none !important;
}
.scorm_failed .item {
  background: none !important;
}
.scorm_not_attempted .item {
  background: none !important;
}
.scorm_highlight .item {
  background: none !important;
  background-color: #00829C !important;
  color: #009AB8;
}
.scorm_highlight.scorm_completed .item {
  background: none !important;
  background-color: #00829C !important;
}
.scorm_highlight.scorm_failed .item {
  background: none !important;
  background-color: #00829C !important;
}

.scorm_item_normal .item-status{
  width: 35px;
  border: white 1px solid;
  border-collapse: collapse;
}
.scorm_completed.scorm_highlight .item-status{
  background: url(/main/img/scorm/scorm_current.png) no-repeat 10px center !important;
  background-color: #00829C !important;
}
.scorm_completed .item-status {
  background: url("/main/img/scorm/scorm_completed.png") no-repeat 10px center !important;
}
.scorm_failed .item-status {
  background: url("/main/img/scorm/scorm_failed.png") no-repeat 10px center !important;
}
.scorm_not_attempted .item-status {
  background: url("/main/img/scorm/scorm_not_attempted.png") no-repeat 10px center !important;
}
.scorm_highlight .item-status {
  background: url("/main/img/scorm/scorm_highlight.png") no-repeat 10px center !important;
  background-color: #00829C !important;
  color: #009AB8;
}
.scorm_highlight.scorm_completed .item-status {
  background: url("/main/img/scorm/scorm_current.png") no-repeat 10px center !important;
  background-color: #00829C !important;
}
.scorm_highlight.scorm_failed .item-status {
  background: url("/main/img/scorm/scorm_failed.png") no-repeat 10px center !important;
  background-color: #00829C !important;
}
.scorm_highlight.scorm_completed .item{
  background: none !important;
  background-color: #00829C !important;
}
.scorm_highlight .item a{
  /*text-decoration: none;*/
  color: white !important;
}
.learnpath-container {
  display:table;
  width: 100%;
  padding: 0; /*set left/right padding according to needs*/
  box-sizing: border-box;
  color: white;
}
.scorm-title h4{
  color: inherit;
}
