  .globalForum-title h1 {
    display: inline-block;
    background: #FFEC00;
    text-transform: uppercase;
  }
  /* List des topics */
.globalForum {
  /**********************************************************************************************
  // Actions
  ***********************************************************************************************/
  &-actions {
  }


  /**********************************************************************************************
  // Liste des topics
  ***********************************************************************************************/
  &-threadList {
    &-title {
      display: flex;
      flex-direction: column;
      justify-content: space-around;
      &-author {
        img {
          border-radius: 50%;
          width: 15px;
        }
      }

    }
    &-stats {
      font-size: 1.4rem;
      margin-bottom: 0;
    }
    &-lastAnswer {
      text-align: right;

      p {
        font-weight: 600;
        margin: 0;
      }
      .boot-tooltip {
        font-style: italic;
      }
    }
  }


  /**********************************************************************************************
  // Détails d'un topic
  ***********************************************************************************************/
  &Thread {
    &-title {
      justify-content: center;
      display: flex;
      align-items: center;
    }

    &-userData {
      display: flex;
      align-items: center;
      height: 36px;
      &-image {
        margin-right: 5px;
      }
      img {
        border-radius: 50%;
        width: 23px;
        margin: 0;
      }
      &-name {
        font-weight: bold;
      }
    }

    #newResponse, #responseForm {
      margin-bottom: 20px;

      .alert-warning {
        display: none;
      }
    }
  }



  /**********************************************************************************************
  // Divers
  ***********************************************************************************************/
  &-title {
    text-align: center;
  }
  &-addPostForm {
    .form_required_container {
      display: none;
    }
    label[for=post_text] {
      display: none;
    }
    .col-sm-2 {
      &:first-child {
        @media (min-width: 768px) {
          width: 8.33333333%;
        }
      }
      &:last-child {
        display: none;
      }
    }
    .col-sm-8 {
      @media (min-width: 768px) {
        width: 91.66666667%;
      }
    }
  }
  &DirectAnswer {

  }
}


