/*!
 * SCSS Superdemain
 * 2020 - Samuel eyre (hello@samueleyre.com), Marjolaine Vé (marjolaine.ve@mail.com) & Fréquence écoles - http://frequence-ecoles.org
 * Licensed GPL
 * Based on Bootstrap
*/
/*!
 * Imports : toggle-cards + forum + tools
 * Navbar
 * Footer
 * Page d'accueil
 * Tableau des grains
 * Divers
*/

@import 'toggle-cards';
@import "forum";
@import "tools";

/*
 * primary color : header bg, main button
 * secondary color: secondary button
 */
@mixin frequenceEcoleMixin(
  $mainFont,
  $mainColors,
  $otherColors,
  $thumbnailColors,
  $trueFalseColors,
  $fontREMPercentage:null
) {

  $primaryColor: nth($mainColors, 1);
  $secondaryColor: nth($mainColors, 2);
  $tertiaryColor: nth($mainColors, 3);

  $otherColor1: nth($otherColors, 1);
  $otherColor2: nth($otherColors, 2);
  $otherColor3: nth($otherColors, 3);

  $trueColor: nth($trueFalseColors, 1);
  $falseColor: nth($trueFalseColors, 2);

  //secondary button hover
  $primaryColorButtonHover: lighten($primaryColor, 10%);
  $secondaryColorButtonHover: lighten($secondaryColor, 10%);

  /* Couleurs communes */
  $bluedark: #240A5F;


  /* Couleur des toggle-cards */
  @each $color in $thumbnailColors {
    $index: index($thumbnailColors, $color) - 1;
    #toggle-card-listing .toggle-card-line .toggle-card-item {
      &.modulo-#{length($thumbnailColors)}-#{$index%length($thumbnailColors)} {
        .toggle-card-summary .toggle-card-summary-container {
          background-color: $color;

          .registred {
            background-color: $color;

            &:before,
            &:after {
              border-right-color: $color;
            }
          }
        }

        .toggle-card-details .toggle-card-details-container {
          border-color: $color;

          &:before {
            border-bottom-color: $color;
          }

          .toggle-card-details-right {
            border-color: $color;

            .toggle-card-details-buttons a.btn {
              background-color: $color;
              border: 1px solid $color;

              &:hover {
                color: $color;
                background-color: white;
              }
            }
          }
        }
      }
    }
  }


  html {
    @if $fontREMPercentage {
      font-size: $fontREMPercentage;
    } @else {
      font-size: 62.5%;
    }
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
  }
  body {
    margin: 0;
    font-family: $mainFont, sans-serif;
    line-height: 1.72222;
    background-color: #F3F3F3 !important;
    color: $bluedark !important;
  }

  a {
    color: inherit;
    outline: none;

    &:hover,
    &:focus {
      outline: none;
    }
  }

  button {
    outline: none;

    &:hover,
    &:focus {
      outline: none;
    }
  }


  /**********************************************************************************************
  /**********************************************************************************************
  // Navbar
  ***********************************************************************************************
  ***********************************************************************************************/

  .navbar-default {
    background: $primaryColor;
    border: none;
    font-size: 2rem;
    font-weight: bold;
    border-radius: 0px;
    color: white !important;

    .navbar-brand {
      color: #ffffff;
    }

    .navbar-text {
      color: #ffffff;
    }

    .navbar-nav {
      & > li {
        padding-top: 15px;
        padding-bottom: 15px;

        /* Logo à gauche dans la navbar */
        &.logo {
          margin: 0 20px 0 0;

          & > a {
            width: 50px;
            height: 50px;
            padding: 0;
            margin: 0;
            background-size: contain !important;
          }
        }

        & > a {
          color: #FFFFFF;

          &:hover,
          &:focus {
            color: rgba(255, 255, 255, 0.8);
          }
        }

        & > .dropdown-menu {
          padding: 20px;
          background: #FFFFFF;
          color: $tertiaryColor !important;

          & > li {
            border: none;

            & > a {
              color: #ffffff;

              &:hover,
              &:focus {
                color: #ffffff;
              }
            }

            & > .divider {
              background-color: $secondaryColor;
            }
          }
        }
      }

      & > .active {
        & > a,
        & > a:hover,
        & > a:focus {
          color: #FFFFFF;
          background: rgba(255, 255, 255, 0.2);
        }
      }

      & > .open {
        & > a,
        & > a:hover,
        & > a:focus {
          color: #FFFFFF;
          background: $primaryColor !important;
        }
      }

      /* Menu de droite */
      &.navbar-right {

        /* Dropdown user menu */
        .avatar-user {
          .img-circle {
            border: none;
          }

          .dropdown-toggle {
            padding-bottom: 10px;
          }
        }

        /* Dropdown formulaire login */
        .dropdown-menu {
          .user-header {
            em {
              margin-right: 5px;
            }
          }

          .user-body {
            a {
              color: $bluedark;
              font-weight: 500;

              em {
                margin-right: 10px;
              }
            }
          }

          &.dropdown-menu-form-login {
            width: 350px;
            padding: 10px 20px;

            button#formLogin_submitAuth {
              border: 1px solid $primaryColor;
              background-color: $primaryColor;
              color: #ffffff;
              transition: all 0.2s linear;
              font-weight: 500;

              &:hover {
                background: #ffffff;
                color: $primaryColor;
              }
            }
          }
        }
      }
    }

    .navbar-collapse,
    .navbar-toggle {
      .icon-bar {
        background-color: #ffffff;
      }
    }

    .navbar-link {
      color: #ffffff;

      &:hover {
        color: #ededed;
      }
    }

    /* Badge */
    .badge {
      background-color: #50B387;
    }
  }

  @media (max-width: 767px) {
    .navbar-default .navbar-nav .open .dropdown-menu > li > a:hover, .navbar-default .navbar-nav .open .dropdown-menu > li > a:focus {
      color: #ededed;
    }
    .navbar-default .navbar-nav .open .dropdown-menu > .active > a, .navbar-default .navbar-nav .open .dropdown-menu > .active > a:hover, .navbar-default .navbar-nav .open .dropdown-menu > .active > a:focus {
      color: #ededed;

      background-color: $secondaryColor;
    }
  }
  .breadcrumb {
    background: #F9F9F9;
    color: #006A84;
  }
  .nav li a:hover {
    background: transparent;
  }
  .panel-default .panel-heading {
    background-color: #EBECF2;
  }
  .panel-default {
    border-color: #F3F3F4;
  }


  /**********************************************************************************************
  /**********************************************************************************************
  // Footer
  ***********************************************************************************************
  ***********************************************************************************************/

  footer.footer {
    position: absolute !important;
    top: 100%;
    font-size: 1.8rem;
    display: block;
    background-color: white;

    #footer-partenaires {
      display: block;
      background-color: white;
      text-align: center;

      img {
        max-height: 150px;
        max-width: 100%;
        margin: auto;
      }
    }

    .bgfooter {
      background: #000000;
    }

    .bgfooter a {
      color: #ffffff;
    }

    .bgfooter a:hover {
      color: #CCC;
    }

    #footer {
      display: block;
      width: 100%;

      section.sub-footer {
        display: flex;
        align-items: center;
        justify-content: center;
        background: white;
        width: 100%;
        padding: 20px 23px;

        a {
          font-weight: bold;
        }

        img {
          width: 75px;
          height: 25px;
          margin-right: 20px;
        }

        p {
          padding: 0;
          margin: 0;
        }
      }
    }
  }


  /**********************************************************************************************
  /**********************************************************************************************
  // Page accueil
  ***********************************************************************************************
  ***********************************************************************************************/

  .homepage {
    @media (min-width: 1200px) {
      #cm-content > .container {
        width: 1400px;
      }
    }

    /************** Titre **************/
    .homepage-title {
      &-themeName {
        color: $primaryColor !important;
        font-weight: bold;
      }

      &-link {
        color: $primaryColor;
        font-weight: bold;
      }

      margin: 20px !important;
      font-size: 2.3rem;
    }

  }

  /************** Tuiles **************/
  @keyframes fadin-70-frames {
    0% {
      opacity: 0;
    }
    70% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }
  @keyframes fadin-frames {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }
  .tuile {
    margin-left: 0px;
    margin-top: 0px;
    padding: 15px;
    opacity: 0;

    a {
      color: #ffffff;

      &:hover {
        text-decoration: none;
      }
    }

    .image.card-img-top {
      & > a {
        display: block;
        overflow: hidden;

        & > img {
          transition: all linear 0.2s;
          border: 0px solid transparent;
        }
      }
    }

    /* Icone chevron */
    .gg-chevron-right-o {
      box-sizing: border-box;
      position: relative;
      display: block;
      transform: scale(var(--ggs, 1));
      width: 22px;
      height: 22px;
      border: 1px solid;
      border-radius: 100px;
      margin: 15px auto auto auto;

    }

    .gg-chevron-right-o::after {
      content: "";
      display: block;
      box-sizing: border-box;
      position: absolute;
      width: 6px;
      height: 6px;
      border-bottom: 1px solid;
      border-right: 1px solid;
      transform: rotate(-45deg);
      left: 5px;
      top: 6px
    }

    /* Hover */
    &:hover {
      .image.card-img-top > a > img {
        border-width: 5px;
      }
    }

    /* Tuile sélectionnée */
    &.select {
      -webkit-transition: margin .3s ease-out;
      -moz-transition: margin .3s ease-out;
      -o-transition: margin .3s ease-out;
      animation: jBounceUp-frames 400ms;
      opacity: 1;

      .image.card-img-top > a > img {
        border-width: 5px;
      }

      .thumbnail {
        max-height: 350px;
      }
    }

    &:not(.hide):not(.select) {
      animation-fill-mode: forwards;
      -webkit-animation-fill-mode: forwards;
      animation: fadin-frames 500ms;
      opacity: 1;
    }

    @keyframes jBounceUp-frames {
      0%, 20%, 100% {
        -webkit-transform: translateY(0);
        transform: translateY(0);
      }
      80% {
        -webkit-transform: translateY(-7px);
        transform: translateY(-7px);
      }
    }
  }


  /************** Description des tuiles **************/
  .tuile_description {
    display: none;
    background-color: white;
    position: relative;
    flex-wrap: wrap;
    margin-top: 65px !important;
    padding: 20px;
    opacity: 0;

    /* Flèche au-dessus */
    &:before {
      content: "";
      position: absolute;
      top: -40px;
      left: 30px;
      width: 0;
      height: 0;
      border-left: 40px solid transparent;
      border-right: 40px solid transparent;
      border-bottom: 40px solid white;
    }

    &.show-flex {
      //transition: opacity 2s;
      animation-fill-mode: forwards;
      -webkit-animation-fill-mode: forwards;
      animation: fadin-70-frames 500ms;
      opacity: 1;
    }

    .row {
      display: flex;
    }

    .tuile_description-col {
      padding: 20px;
      font-size: 1.6rem;
      line-height: 1.2;

      &.tuile_description-col-right {
        display: flex;
        flex-direction: column;
        justify-content: center;
      }

      .course_button {
        width: 100%;
        padding: 0 25% 0 25%;
        margin-top: 5%;

        a.btn,
        a.btn-primary {
          transition: all 0.2s linear;
          width: 100%;
          font-weight: 600;
          font-size: 2rem !important;
          color: #ffffff !important;
          background-color: $primaryColor !important;
          border: 1px solid $primaryColor !important;

          em {
            margin-left: 10px;
          }

          &:hover {
            color: $primaryColor !important;
            background-color: #ffffff !important;
            border-color: $primaryColor !important;
          }
        }
      }
    }

    .close_tuile_description {
      position: absolute;
      z-index: 2600;
      top: -8px;
      right: -8px;
      width: 34px;
      height: 34px;
      border-radius: 17px;
      border: solid 1px $primaryColor;
      background-color: $primaryColor;
      color: #ffffff;
      font-weight: 700;

      &:hover {
        background-color: #ffffff;
        color: $primaryColor;
      }
    }
  }

  @media (min-width: 992px) {
    .tuile_description-col {
      width: 49%;
    }

    .tuile_description-line {
      min-height: 50px;
      border-right: $primaryColor 1px solid;
      width: 1px;
      margin: 20px 0;
    }
  }
  @media (max-width: 992px) {
    .tuile_description .row {
      display: flex;
      flex-direction: column;
    }

    .tuile_description-line {
      border-bottom: $tertiaryColor 1px solid;
      height: 1px;
      margin: 0 20px;
    }
    .tuile_description-col {
      width: 100%;
    }
  }

  .unsubscribe_button {
    width: 100%;
    padding: 0 25% 0 25%;
  }

  .unsubscribe_button .btn-danger {
    width: 100%;
    background-color: white !important;
    border-color: white !important;
  }


  /************** Thumbnails **************/

  .thumbnail {
    height: 100%;
    padding: 0 !important;
    cursor: pointer;

    .items {
      position: relative;
    }

    .items-hotcourse .img-responsive {
      width: 100%;
    }

    .block-title {
      padding: 5px 0 5px 0;
    }

    .title {
      padding: 0 15px 0 15px;
      font-weight: bolder !important;
      display: flex;
    }

    a > img {
      max-height: 220px;
      width: 100%;
      margin: 0 !important;
    }
  }

  /****** Couleurs des thumbnails ******/

  //default
  @each $color in $thumbnailColors {
    $index: index($thumbnailColors, $color);
    .tuile:nth-child(#{length($thumbnailColors)}n + #{$index}) {
      .thumbnail {
        background-color: $color;

        .registred {
          background-color: $color;

          &:before, &:after {
            border-right-color: $color;
          }
        }
      }
    }
  }


  /**********************************************************************************************
  /**********************************************************************************************
  // Tableau des grains
  ***********************************************************************************************
  ***********************************************************************************************/
  #scorm-info {
    background-color: transparent !important;
    height: 160px;
  }
  .scorm_item_normal {
    background: transparent !important;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    padding: 0;
    border-collapse: collapse;
    border: white 1px solid;
    margin: -2px 0 0 -1px;
  }
  .scorm_item_normal .item {
    background: transparent none no-repeat 10px center !important;
    flex-grow: 2;
    padding-left: 10px;
    padding-right: 10px;
    font-weight: bolder;
    width: 35px;
    border: white 1px solid;
    border-collapse: collapse;
  }
  .scorm_item_normal.scorm_highlight .item a {
    text-decoration: none;
    color: white !important;
  }
  .scorm_item_normal a.items-list {
    font-size: 1.6rem;
    font-weight: 400;
    line-height: 20px;
    padding: 10px 0;
    color: #ffffff;
  }
  .scorm_item_normal .item-status {
    width: 35px;
    border: white 1px solid;
    border-collapse: collapse;
  }
  .scorm_item_normal.scorm_completed .item-status {
    background: transparent url("/main/img/scorm/scorm_current.png") no-repeat center !important;
  }
  .scorm_item_normal.scorm_failed .item-status {
    background: transparent url("/main/img/scorm/scorm_failed.png") no-repeat center !important;
  }
  .scorm_item_normal.scorm_not_attempted .item-status {
    background: transparent url("/main/img/scorm/scorm_highlight.png") no-repeat center !important;
  }
  .scorm_item_normal.scorm_highlight .item,
  .scorm_item_normal.scorm_highlight.scorm_completed .item,
  .scorm_item_normal.scorm_highlight.scorm_failed .item,
  .scorm_item_normal.scorm_highlight .item-status,
  .scorm_item_normal.scorm_completed.scorm_highlight .item-status,
  .scorm_item_normal.scorm_highlight.scorm_completed .item-status,
  .scorm_item_normal.scorm_highlight.scorm_failed .item-status {
    background: $primaryColor none no-repeat center !important;
  }
  .scorm_item_normal.scorm_highlight .item-status,
  .scorm_item_normal.scorm_completed.scorm_highlight .item-status {
    background: transparent url("/main/img/scorm/scorm_highlight.png") no-repeat center !important;
  }
  .scorm_item_normal.scorm_highlight.scorm_completed .item-status {
    background: transparent url("/main/img/scorm/scorm_current.png") no-repeat center !important;
  }
  .scorm_item_normal.scorm_highlight.scorm_failed .item-status {
    background: transparent url("/main/img/scorm/scorm_failed.png") no-repeat center !important;
  }
  .scorm-body {
    padding-left: 8px;
    padding-right: 8px;
    box-sizing: border-box;
  }


  /**********************************************************************************************
  /**********************************************************************************************
  // Forum
  ***********************************************************************************************
  ***********************************************************************************************/
  /* Général */
  .section-forum {
    #cm-content {
      padding-top: 10px;

      .container {
        margin-bottom: 0;
      }
    }
    // Actions
    .actions.customActions {
      padding: 0;
      margin-bottom: 30px;
      background: transparent;
      border: none;
      box-shadow: 0 0 black;
    }
    // Boutons
    .customBtn-large {
      transition: all 0.2s linear;
      border: 1px solid $primaryColor !important;
      background-color: $primaryColor !important;
      color: white !important;
      font-size: 16px;
      font-weight: 600;

      i {
        margin-right: 6px;
      }

      &:hover {
        border-color: $primaryColor !important;
        background-color: white !important;
        color: $primaryColor !important;
      }
    }
    .customBtn-medium {
      transition: all 0.2s linear;
      border: 1px solid $tertiaryColor !important;
      background-color: white !important;
      color: $tertiaryColor !important;
      font-size: 12px;
      font-weight: 600;

      i {
        margin-right: 6px;
      }

      &:hover {
        border-color: $primaryColor !important;
        background-color: $primaryColor !important;
        color: white !important;
      }
    }
  }
  .globalForum-title {
    padding: 20px 0;
    h1 {
      display: inline-block;
      margin: 0 0 30px;
      background: $tertiaryColor;
      color: white;
      text-transform: uppercase;
    }
  }
  /* Actions */
  .globalForum-actions {
  }
  /* List des topics */
  .globalForum-threadList > .category {
    margin-bottom: 20px;
    border: 4px solid $otherColor1;

    .category-title {
      padding: 5px;
      background-color: $otherColor1;
      text-align: center;
      font-size: 20px;
      font-weight: 600;
    }

    &#stickedThreads {
      border-color: $secondaryColor;

      .category-title {
        background-color: $secondaryColor;
      }
    }

    .panel {
      margin: 0;

      /* Partie gauche avec le titre */
      .globalForum-threadList-title {
        h3.title {
          margin: 0 0 10px;

          a {
            transition: all 0.2s linear;
            display: inline;
            padding-left: 2px;
            padding-right: 2px;
            // background: $secondaryColor;
            font-size: 24px;
            line-height: 32px;
            color: $tertiaryColor;

            &:hover {
              background-color: $otherColor1;
              text-decoration: none;
            }
          }
        }
        p {
          margin: 0;
        }
      }
      /* Partie droite avec les informations de réponse */
      .globalForum-threadList-lastAnswer {
        p {
          font-weight: 600;
          margin: 0;
        }
        .boot-tooltip {
          font-style: italic;
        }
      }
      /* Partie d'icônes d'administration */
      .globalForum-threadList-adminIcons {
        padding: 15px;
        border-top: 1px solid $otherColor1;
      }

      &.sticky {
        .globalForum-threadList-title h3.title a:hover {
          background-color: $secondaryColor;
        }
      }
    }
  }
  /* Détail d'un topic */
  .globalForumThread {
    h1.globalForumThread-title {
      display: inline-block;
      margin: 0px 0 30px;
      line-height: 50px;

      p {
        display: inline;
        padding-left: 2px;
        padding-right: 2px;
        background: $secondaryColor;
        color: $tertiaryColor;
      }
    }
    // Chaque message dans le topic
    .forum-post {
      padding: 0;
    }
    // Formulaire de réponse
    .globalForum-addPostForm {
    }
  }


  /**********************************************************************************************
  /**********************************************************************************************
  // Divers
  ***********************************************************************************************
  ***********************************************************************************************/

  .title-text {
    width: 85%
  }

  .block-tag {
    padding: 0 15px 0 15px;
    font-size: 1.8rem;
    margin-top: 6%;
    color: white
  }


  .block-title .title {
    font-size: 2rem;
    color: white !important;
  }

  .ranking {
    color: white !important;
  }
  #rating_wrapper_star_3 {
    color: inherit !important;
  }

  .ranking {
    display: inline-block;
  }

  /* Photo de profile */

  .sidebar-avatar .area-avatar .img-circle {
    border: none !important;
  }

  #learning_path_toc {
    position: relative !important;
    top: unset !important;
    left: unset !important;
    right: unset !important;
    bottom: unset !important;
  }
  .menu-button {
    top: 90px !important;
  }
  #content-scorm {
    height: 90% !important;
  }


  .learnpath-container {
    display: table;
    width: 100%;
    padding: 0; /*set left/right padding according to needs*/
    box-sizing: border-box;
    color: white;
  }

  .learnpath-container .menu_gauche {
    padding: 0px 15px;
  }

  .learnpath-container .menu_gauche .lp-view-zone-container {
    padding: 0px 10px 30px;
    background-color: $bluedark;
  }

  .learnpath-container .contenu {
    padding: 0 15px 0 0;
  }

  .learnpath-container .contenu .lp-view-zone-container {
    background: #F3F3F3;
  }
  .learnpath-container .contenu .lp-view-zone-container .lp-view-tabs {
    margin-top: 0px;
  }

  .learnpath-container-title-image {
    background-repeat: no-repeat;
    height: 142px;
    width: 100%;
    background-size: cover;
    display: flex;
    align-items: flex-end;
    padding: 25px;
  }

  .scorm-title h4 {
    line-height: 22px;
    color: inherit;
  }

  .scorm-title h4 span {
    background-color: $primaryColor;
  }

  /*
  Custom progress indicator
   */


  #progress_bar {
    display: flex;
    justify-content: center;
  }

  #progressIndicator {
    padding: 20px;
    display: inline-block;
    width: 100%;
    max-width: 200px;
    position: relative;
    cursor: pointer;
  }

  #progressIndicator .progressIndicator-text {
    text-align: center;
    font-size: 3rem;
  }


  #progressIndicator .ring-window {
    width: 100%;
    height: 0;
    padding-top: 50%;
    overflow: hidden;
    position: relative;
  }

  #progressIndicator .ring-window::before {
    content: '';
    display: block;
    width: 100%;
    height: 200%;
    border-radius: 50%;
    position: absolute;
    top: 0;
    left: 0;
    background: #ccc;
  }

  #progressIndicator .ring {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 100%;
    overflow: hidden;
    transform-origin: top center;
    transition: transform 1s;
  }

  #progressIndicator .ring::before {
    content: '';
    display: block;
    width: 100%;
    height: 0;
    padding-top: 100%;
    border-radius: 50%;
    position: absolute;
    bottom: 0;
    left: 0;
    box-sizing: border-box;
    background: #4faa4a linear-gradient(to right, rgba(255, 255, 0, 0.4) 0%, transparent 30%);
    transition: background 1s;
  }

  #progressIndicator .ring::after {
    content: '';
    display: block;
    width: 84%;
    height: 0;
    padding-top: 84%;
    border-radius: 50%;
    position: absolute;
    bottom: 16%;
    left: 8%;
    box-sizing: border-box;
    background: #ccc;
  }

  #progressIndicator .low .ring::before {
    background-color: #E5341F;
  }

  #progressIndicator .mid .ring::before {
    background-color: goldenrod;
  }

  #progressIndicator .dial {
    width: 50%;
    position: relative;
    margin-top: -2.5%;
    transform-origin: right center;
    transition: transform 1s;
  }

  #progressIndicator .dial:after {
    content: '';
    display: block;
    width: 10%;
    padding-top: 10%;
    border-radius: 50%;
    background: #ffffff;
    position: absolute;
    top: 0;
    right: -5%;
  }
  #progressIndicator .needle {
    width: 100%;
    height: 0;
    padding-top: 5%;
    padding-bottom: 5%;
    overflow: hidden;
  }
  #progressIndicator .needle::before {
    content: '';
    display: block;
    width: 0;
    height: 0;
    margin-top: -500px;

    border-top: 500px solid transparent;
    border-bottom: 500px solid transparent;
    border-right: 10000px solid #ffffff;
  }

  .lp-view-tabs {
    margin-top: 0;
  }

  .contenu-nextButton-container {
    height: 77px;
    display: flex;
    font-size: 2.8rem;
    justify-content: flex-end;
    padding: 10px;
  }

  .contenu-nextButton-container .container-nextButton {
    height: 40px;
    font-size: 2rem;
    background-color: $primaryColor;
    color: white;
    border: $primaryColor 1px solid;
  }

  .container-nextButton:hover {
    color: $primaryColor !important;
    background-color: white;
    border: $primaryColor 1px solid;
  }

  /******************************************
  // IFRAMES DES GRAINS
  ******************************************/
  .document_style_superdemain,
  .document_style_iframe,
  .page_origin_learnpath {
    max-width: 1000px;
    margin: auto;
    background-color: white !important;
    color: $bluedark !important;
    font-family: $mainFont, sans-serif;

    .feedback-question {
      .feedback-green {
        color: $trueColor;
      }

      .feedback-red {
        color: $falseColor;
      }
    }

    .label {
      &-success {
        background-color: $trueColor;
      }

      &-danger {
        background-color: $falseColor;
      }
    }


  }
  /*
  Learn path page and styled document page
   */
  #homepage-course,
  .document_style_superdemain,
  .document_style_iframe,
  .page_origin_learnpath {
    font-size: 2rem !important;
    line-height: 24px;
    font-weight: 500 !important;
    color: $bluedark !important;
  }
  #homepage-course h1,
  .document_style_superdemain h1,
  .document_style_iframe h1,
  .page_origin_learnpath h1 {
    font-size: 4rem !important;
    text-transform: uppercase !important;
    color: $bluedark !important;
    font-weight: 600 !important;
    margin-bottom: 50px;
    margin-top: 40px;
  }
  #homepage-course h2,
  .document_style_superdemain h2,
  .document_style_iframe h2,
  .page_origin_learnpath h2 {
    font-size: 2.8rem !important;
    color: $primaryColor !important;
    font-weight: 400 !important;
    margin-bottom: 20px;
  }
  #homepage-course h3,
  .document_style_superdemain h3,
  .document_style_iframe h3,
  .page_origin_learnpath h3 {
    font-size: 2.4rem !important;
    color: $bluedark !important;
    font-weight: 500 !important;
    margin-bottom: 20px;
  }
  #homepage-course h4,
  .document_style_superdemain h4,
  .document_style_iframe h4,
  .page_origin_learnpath h4 {
    font-size: 20px !important;
    color: #62CBD6 !important;
    font-weight: 700 !important;
    margin-bottom: 20px;
  }
  #homepage-course h5,
  .document_style_superdemain h5,
  .document_style_iframe h5,
  .page_origin_learnpath h5 {
    font-size: 1.6rem !important;
    font-weight: 500 !important;
    margin-bottom: 20px;
    color: $bluedark;
  }
  #homepage-course a,
  .document_style_superdemain a,
  .document_style_iframe a,
  .page_origin_learnpath a {
    text-decoration: underline;
    color: #24989c !important;
  }
  #homepage-course a:hover,
  .document_style_superdemain a:hover,
  .document_style_iframe a:hover,
  .page_origin_learnpath a:hover {
    text-decoration: underline;
    color: #6DEAEE !important;
  }

  /* result page */

  .page_origin_learnpath {
    .question_row_score .title-score .total {
      border: none;
      background: none;
      padding-left: 0;
    }

    .question_row_score .title-score .total .total-scoreTitle {
      text-align: left;
    }

    .title-score {
      min-height: 150px;
    }

    .title-score h4 {
      float: left;
      margin-top: 16px;
      padding-right: 10px;
      /*// same style as h3*/
      font-size: 2.4rem !important;
      color: $bluedark !important;
      font-weight: 500 !important;
      margin-bottom: 20px;
    }

    .title-score h5 {
      float: left;
    }

    .ribbon {
      .rib-error, .ribbon-total-error {
        background: $falseColor;
      }

      .rib-error h3, .ribbon-total-error h3 {
        color: #ffffff !important;
      }

      .rib-success, .ribbon-total-success {
        background: $trueColor;
      }

      .rib-success h3, .ribbon-total-success h3 {
        color: #ffffff !important;
      }
    }

    .btn.btn-info {
      color: #20124D !important;
      background-color: $secondaryColor;
      text-decoration: none;
      font-size: 1.8rem;
    }

    table:not(.matching) {
      td.user-answer {
        &-label,
        &-label p,
        &,
        & p {
          font-size: 1.6rem;
        }

      }
    }

    .user-answer, .user-answer-label {
      &-correct {
        color: $trueColor;
      }

      &-incorrect {
        color: $falseColor;
      }
    }

    #quiz_end_message {
      margin-top: 20px;
      img {
        max-width: 100%;
        height: auto;
      }
    }

  }


  /* MODAL */
  .document_style_superdemain,
  .document_style_iframe,
  .page_origin_learnpath {
    @media (min-width: 768px) {
      .modal-dialog {
        width: 800px;
        max-width: 100%;
      }
    }

    .incorrect-answer {
      color: #E61983 !important;
    }

    .next-exercice-button, .finish-button, .reload-button {
      background-color: $secondaryColor;
      border-color: $secondaryColor;
      color: $tertiaryColor !important;
      text-decoration: none;

      &:hover {
        background-color: #FFFFFF;
        border-color: $secondaryColorButtonHover;
        color: $tertiaryColor !important;
        text-decoration: none;
      }

      &:focus {
        background-color: #FFFFFF;
        border-color: $secondaryColorButtonHover;
        color: $tertiaryColor !important;
        text-decoration: none;
      }
    }

    #global-modal-body tr:not(:first-child) td:first-child {
      font-size: 1.6rem;
    }


  }


  .document_style_superdemain #global-modal-body tr:first-child td,
  .document_style_iframe #global-modal-body tr:first-child td,
  .page_origin_learnpath #global-modal-body tr:first-child td {
    font-weight: bold;
  }
  .document_style_superdemain .answer-correct,
  .document_style_iframe .answer-correct,
  .page_origin_learnpath .answer-correct {
    color: #0099c0;
  }
  .document_style_superdemain .answer-false,
  .document_style_iframe .answer-false,
  .page_origin_learnpath .answer-false {
    color: #E61983;
  }


  .exercise_overview_options {
    background-color: white;
    text-align: left;
  }
  .exercise_overview_options .btn-success {
    background-color: $secondaryColor;
    border-color: $secondaryColor;
    line-height: 2.5rem;
    min-width: 170px;
    height: 40px;
    font-size: 1.8rem;
    font-weight: 800;
    color: #20124D !important;
    text-decoration: none;
  }
  .exercise_overview_options .btn-success:hover {
    background-color: #FFFFFF;
    border-color: $secondaryColorButtonHover;
    color: #20124D !important;
    text-decoration: none;
  }
  .exercise_overview_options .btn-success:focus {
    background-color: #FFFFFF;
    border-color: $secondaryColorButtonHover;
    color: #20124D !important;
    text-decoration: none;
  }
  .form-actions .btn {
    background-color: $secondaryColor;
    border-color: $secondaryColor;
    color: #20124D !important;
    text-decoration: none;
    font-size: 2rem;

    &:hover {
      background-color: #FFFFFF;
      border-color: $secondaryColor;
      color: #20124D !important;
      text-decoration: none;
    }

    &:focus {
      background-color: #FFFFFF;
      border-color: $secondaryColor;
      color: #20124D !important;
      text-decoration: none;
      outline: none;
    }
  }


  .ui-draggable circle {
    fill: #20124D;
  }


  .window_left_question, .window_right_question {
    background: #FFFFFF !important;
  }

  /* profile page*/
  #profile_block img {
    width: 27px;
  }

}

