/*!
 * SCSS Toggle cards
 * 2020 - Marjolaine Vé (marjolaine.ve@mail.com) & Fréquence écoles - http://frequence-ecoles.org
 * Licensed CC-BY-SA
*/
$paddingsForDetails: 25px;
$marginBottomForDetails: 20px;
$defaultColor: #abcdef;

#toggle-card-listing {
    width: 100%;
    margin: 20px auto;

    .toggle-card-line {
        -khtml-transition: all 0.2s linear 0s;
        transition: all 0.2s linear 0s;
        position: relative;
        display: -ms-flexbox;
        display: flex;
        -ms-flex-pack: justify;
        justify-content: space-between;
        -ms-flex-wrap: wrap;
        flex-wrap: wrap;

        .toggle-card-item {
            -khtml-transition: all 0.2s linear 0s;
            transition: all 0.2s linear 0s;
            display: inline-block;
            *display: inline;
            zoom: 1;
            vertical-align: middle;
            width: 100% / 4;
            padding-bottom: 20px;
            padding-right: 20px;

            .toggle-card-summary .toggle-card-summary-container,
            .toggle-card-details .toggle-card-details-container {
                background: white;
                border-radius: 4px;
                border: 1px solid #ddd;
            }

            /******
            * Small part of toggle-card (summary)
            */
            .toggle-card-summary {
                position: relative;
                width: 100%;
                overflow: hidden;
                height: 100%;
                min-height: 200px;
                color: white;
                cursor: pointer;

                &.opened,
                &:hover {
                    .toggle-card-summary-container .toggle-card-summary-image img {
                        transform: scale(1.1);
                    }
                }

                .toggle-card-summary-container {
                    height: 100%;

                    .toggle-card-summary-image {
                        overflow: hidden;

                        img {
                            transition: all 0.2s linear;
                            width: 100%;
                        }
                    }

                    // Fanion de notification d'inscription
                    .registred {
                        -webkit-backface-visibility: hidden;
                        -webkit-transform-style: preserve-3d;
                        position: absolute;
                        transform: none;
                        top: 10px;
                        right: 0px;
                        display: block;
                        width: 80px;
                        padding: 10px 0;
                        line-height: 20px;
                        color: white;
                        text-align: center;
                        background-color: $defaultColor;

                        &:before,
                        &:after {
                            content: "";
                            position: absolute;
                            right: 80px;
                            width: 0;
                            height: 0;
                            border-right: 20px solid $defaultColor;
                            border-left: 0;
                        }
                        &:before {
                            border-top: 0px solid transparent;
                            border-bottom: 20px solid transparent;
                            top: 0;
                        }
                        &:after {
                            border-top: 20px solid transparent;
                            border-bottom: 0px solid transparent;
                            bottom: 0;
                        }
                    }
                    h2.toggle-card-summary-title {
                        -webkit-backface-visibility: hidden;
                        -webkit-transform-style: preserve-3d;
                        margin: 0 !important;
                        padding: 15px;
                        text-align: left;
                        font-size: 20px;
                        font-weight: 600;
                    }
                    .toggle-card-summary-tags {
                        -webkit-backface-visibility: hidden;
                        -webkit-transform-style: preserve-3d;
                        padding: 0 15px 15px;
                        font-size: 18px;
                        line-height: 20px;
                        font-weight: 500;
                    }
                }
            }

            /******
            * Large part of toggle-card (details)
            */
            .toggle-card-details {
                -khtml-transition: all 0.2s linear 0s;
                transition: all 0.2s linear 0s;
                overflow: hidden;
                position: absolute;
                left: 0;
                right: 0;
                bottom: 0;
                max-height: 0px;
                padding-right: 20px;

                .toggle-card-details-container {
                    display: flex;
                    align-items: stretch;
                    padding: $paddingsForDetails;
                    margin: 0 0 $marginBottomForDetails;

                    .toggle-card-item {
                        padding-bottom: 0 !important;
                    }

                    /* Flèche au-dessus du block details */
                    &:before {
                        content: "";
                        border-top: 0px;
                        border-left: 10px solid transparent;
                        border-right: 10px solid transparent;
                        border-bottom: 10px solid white;
                        position: absolute;
                        top: -10px;
                        margin-left: -20px;
                    }

                    .toggle-card-details-left,
                    .toggle-card-details-right {
                        width: 50%;
                        font-size: 16px;
                        line-height: 19px;
                    }
                    .toggle-card-details-left {
                        padding-right: 20px;
                    }
                    .toggle-card-details-right {
                        padding-left: 20px;
                        border-left: 2px solid $defaultColor;

                        .toggle-card-details-buttons {
                            text-align: center;

                            a.btn {
                                transition: all 0.2s linear;
                                display: inline-block;
                                margin-top: 20px;
                                padding: 5px 30px;
                                border: 2px solid $defaultColor;
                                background-color: $defaultColor;
                                color: white;
                                font-weight: 500;
                                text-decoration: none;
                                font-size: 20px;

                                em {
                                    margin-left: 10px;
                                }

                                &:hover {
                                    background-color: white;
                                    color: $defaultColor;
                                }
                            }
                        }
                    }
                }
            }
        }
    }

    /* Settings of toggle-card-item based on the number of columns */
    &.toggle-cards-2-columns {
        .toggle-card-line .toggle-card-item {
            width: (100% / 2);

            &.modulo-2-0 .toggle-card-details .toggle-card-details-container:before {
                left: (1 * 100% / 4);
            }
            &.modulo-2-1 .toggle-card-details .toggle-card-details-container:before {
                left: (3 * 100% / 4);
            }
        }
    }
    &.toggle-cards-3-columns {
        .toggle-card-line .toggle-card-item {
            width: (100% / 3);

            &.modulo-3-0 .toggle-card-details .toggle-card-details-container:before {
                left: (1 * 100% / 6);
            }
            &.modulo-3-1 .toggle-card-details .toggle-card-details-container:before {
                left: (3 * 100% / 6);
            }
            &.modulo-3-2 .toggle-card-details .toggle-card-details-container:before {
                left: (5 * 100% / 6);
            }
        }
    }
    &.toggle-cards-4-columns {
        .toggle-card-line .toggle-card-item {
            width: (100% / 4);

            &.modulo-4-0 .toggle-card-details .toggle-card-details-container:before {
                left: (1 * 100% / 8);
            }
            &.modulo-4-1 .toggle-card-details .toggle-card-details-container:before {
                left: (3 * 100% / 8);
            }
            &.modulo-4-2 .toggle-card-details .toggle-card-details-container:before {
                left: (5 * 100% / 8);
            }
            &.modulo-4-3 .toggle-card-details .toggle-card-details-container:before {
                left: (7 * 100% / 8);
            }
        }
    }
    &.toggle-cards-5-columns {
        .toggle-card-line .toggle-card-item {
            width: (100% / 5);

            &.modulo-5-0 .toggle-card-details .toggle-card-details-container:before {
                left: (1 * 100% / 10);
            }
            &.modulo-5-1 .toggle-card-details .toggle-card-details-container:before {
                left: (3 * 100% / 10);
            }
            &.modulo-5-2 .toggle-card-details .toggle-card-details-container:before {
                left: (5 * 100% / 10);
            }
            &.modulo-5-3 .toggle-card-details .toggle-card-details-container:before {
                left: (7 * 100% / 10);
            }
            &.modulo-5-4 .toggle-card-details .toggle-card-details-container:before {
                left: (9 * 100% / 10);
            }
        }
    }
    &.toggle-cards-6-columns {
        .toggle-card-line .toggle-card-item {
            width: (100% / 6);

            &.modulo-6-0 .toggle-card-details .toggle-card-details-container:before {
                left: (1 * 100% / 12);
            }
            &.modulo-6-1 .toggle-card-details .toggle-card-details-container:before {
                left: (3 * 100% / 12);
            }
            &.modulo-6-2 .toggle-card-details .toggle-card-details-container:before {
                left: (5 * 100% / 12);
            }
            &.modulo-6-3 .toggle-card-details .toggle-card-details-container:before {
                left: (7 * 100% / 12);
            }
            &.modulo-6-4 .toggle-card-details .toggle-card-details-container:before {
                left: (9 * 100% / 12);
            }
            &.modulo-6-5 .toggle-card-details .toggle-card-details-container:before {
                left: (11 * 100% / 12);
            }
        }
    }
}


@media screen and (max-width: 767px) {
    #toggle-card-listing .toggle-card-line {
        -ms-flex: none;
        flex: none;
        display: block;
    }
    #toggle-card-listing.toggle-cards-2-columns,
    #toggle-card-listing.toggle-cards-3-columns,
    #toggle-card-listing.toggle-cards-4-columns {
        .toggle-card-line .toggle-card-item {
            position: relative;
            width: 100%;
            padding-left: 20px;

            .toggle-card-details {
                padding-left: 20px;

                .toggle-card-details-container {
                    display: block;

                    .toggle-card-details-left {
                        width: 100%;
                        padding-right: 0;
                        padding-bottom: 20px;
                    }
                    .toggle-card-details-right {
                        width: 100%;
                        padding-left: 0;
                        padding-top: 20px;
                        border-left: none;
                        border-top-width: 2px;
                        border-top-style: solid;
                    }
                }
            }
        }
    }
}