/*!
 * SCSS Superdemain
 * 2020 - Samuel eyre (hello@samueleyre.com)
 * Licensed GPL
 * Based on Bootstrap
*/
/*
 * primary color : header bg, main button
 * secondary color: secondary button
 */
/* vietnamese */
@font-face {
  font-family: 'Dosis';
  font-style: normal;
  font-weight: 400;
  src: url(https://fonts.gstatic.com/s/dosis/v18/HhyaU5sn9vOmLzlnC_W6EQ.woff2) format('woff2');
  unicode-range: U+0102-0103, U+0110-0111, U+0128-0129, U+0168-0169, U+01A0-01A1, U+01AF-01B0, U+1EA0-1EF9, U+20AB; }
/* latin-ext */
@font-face {
  font-family: 'Dosis';
  font-style: normal;
  font-weight: 400;
  src: url(https://fonts.gstatic.com/s/dosis/v18/HhyaU5sn9vOmLzlmC_W6EQ.woff2) format('woff2');
  unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF; }
/* latin */
@font-face {
  font-family: 'Dosis';
  font-style: normal;
  font-weight: 400;
  src: url(https://fonts.gstatic.com/s/dosis/v18/HhyaU5sn9vOmLzloC_U.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD; }
/* vietnamese */
@font-face {
  font-family: 'Dosis';
  font-style: normal;
  font-weight: 500;
  src: url(https://fonts.gstatic.com/s/dosis/v18/HhyaU5sn9vOmLzlnC_W6EQ.woff2) format('woff2');
  unicode-range: U+0102-0103, U+0110-0111, U+0128-0129, U+0168-0169, U+01A0-01A1, U+01AF-01B0, U+1EA0-1EF9, U+20AB; }
/* latin-ext */
@font-face {
  font-family: 'Dosis';
  font-style: normal;
  font-weight: 500;
  src: url(https://fonts.gstatic.com/s/dosis/v18/HhyaU5sn9vOmLzlmC_W6EQ.woff2) format('woff2');
  unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF; }
/* latin */
@font-face {
  font-family: 'Dosis';
  font-style: normal;
  font-weight: 500;
  src: url(https://fonts.gstatic.com/s/dosis/v18/HhyaU5sn9vOmLzloC_U.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD; }
/* vietnamese */
@font-face {
  font-family: 'Dosis';
  font-style: normal;
  font-weight: 600;
  src: url(https://fonts.gstatic.com/s/dosis/v18/HhyaU5sn9vOmLzlnC_W6EQ.woff2) format('woff2');
  unicode-range: U+0102-0103, U+0110-0111, U+0128-0129, U+0168-0169, U+01A0-01A1, U+01AF-01B0, U+1EA0-1EF9, U+20AB; }
/* latin-ext */
@font-face {
  font-family: 'Dosis';
  font-style: normal;
  font-weight: 600;
  src: url(https://fonts.gstatic.com/s/dosis/v18/HhyaU5sn9vOmLzlmC_W6EQ.woff2) format('woff2');
  unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF; }
/* latin */
@font-face {
  font-family: 'Dosis';
  font-style: normal;
  font-weight: 600;
  src: url(https://fonts.gstatic.com/s/dosis/v18/HhyaU5sn9vOmLzloC_U.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD; }

html {
  font-size: 62.5%;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%; }

body {
  margin: 0;
  font-family: 'Dosis', sans-serif;
  line-height: 1.72222;
  background-color: #F3F3F3 !important;
  color: #240A5F !important; }

a {
  color: #666666; }

a:hover {
  color: #50B387;
  text-decoration: none; }

/**********************************************************************************************
  /**********************************************************************************************
  // Navbar
  ***********************************************************************************************
  ***********************************************************************************************/
.navbar-nav > li.logo {
  margin-right: 10px; }
  .navbar-nav > li.logo, .navbar-nav > li.logo > a {
    padding: 0;
    margin: 0; }
  .navbar-nav > li.logo > a {
    width: 50px;
    height: 50px;
    background-size: contain !important; }

.navbar-default {
  background: #E7344F;
  border: none;
  font-size: 2rem;
  font-weight: bold;
  border-radius: 0px; }

.navbar-default .navbar-brand {
  color: #ffffff; }

.navbar-default .navbar-text {
  color: #ffffff; }

.navbar-default .navbar-nav > li {
  padding-top: 15px;
  padding-bottom: 15px; }

.navbar-default .navbar-nav > li > a {
  color: #FFFFFF; }

.navbar-default .navbar-nav > li > a:hover, .navbar-default .navbar-nav > li > a:focus {
  color: #FFFFFF; }

.navbar-default .navbar-nav > li > .dropdown-menu {
  background: #FFFFFF; }

.navbar-default .navbar-nav > li > .dropdown-menu > li > a {
  color: #ffffff; }

.navbar-default .navbar-nav > li > .dropdown-menu > li {
  border: none; }

.navbar-default .navbar-nav > li > .dropdown-menu > li > a:hover, .navbar-default .navbar-nav > li > .dropdown-menu > li > a:focus {
  color: #FFFFFF; }

.navbar-default .navbar-nav > li > .dropdown-menu > li > .divider {
  background-color: #0099c0; }

.navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:hover, .navbar-default .navbar-nav > .active > a:focus {
  color: #FFFFFF;
  background: #E7344F; }

.navbar-default .navbar-nav > .open > a, .navbar-default .navbar-nav > .open > a:hover, .navbar-default .navbar-nav > .open > a:focus {
  color: #FFFFFF; }

.navbar-default .navbar-toggle {
  border-color: #6D0019; }

.navbar-default .navbar-toggle:hover, .navbar-default .navbar-toggle:focus {
  background-color: #6D0019; }

.navbar-default .navbar-toggle .icon-bar {
  background-color: #ffffff; }

.navbar-default .navbar-collapse, .navbar-default .navbar-form {
  border-color: #6D0019; }

.navbar-default .navbar-link {
  color: #ffffff; }

.navbar-default .navbar-link:hover {
  color: #ededed; }

.navbar-default .dropdown-menu {
  padding: 20px; }

.navbar-default .navbar-nav > .open > a, .navbar-default .navbar-nav > .open > a:hover, .navbar-default .navbar-nav > .open > a:focus {
  background: #E7344F !important; }

.navbar-default {
  color: white !important; }

.avatar-user .img-circle {
  border: none; }

.badge {
  background-color: #50B387; }

@media (max-width: 767px) {
  .navbar-default .navbar-nav .open .dropdown-menu > li > a:hover, .navbar-default .navbar-nav .open .dropdown-menu > li > a:focus {
    color: #ededed;
    background-color: #6D0019; }
  .navbar-default .navbar-nav .open .dropdown-menu > .active > a, .navbar-default .navbar-nav .open .dropdown-menu > .active > a:hover, .navbar-default .navbar-nav .open .dropdown-menu > .active > a:focus {
    color: #ededed;
    background-color: #0099c0; } }

.breadcrumb {
  background: #F9F9F9;
  color: #006A84; }

.nav li a:hover {
  background: transparent; }

.panel-default .panel-heading {
  background-color: #EBECF2; }

.panel-default {
  border-color: #F3F3F4; }

/**********************************************************************************************
  /**********************************************************************************************
  // Footer
  ***********************************************************************************************
  ***********************************************************************************************/
footer {
  position: absolute !important;
  top: 100%;
  font-size: 1.8rem; }
  footer .bgfooter {
    background: #000000; }
  footer .bgfooter a {
    color: #ffffff; }
  footer .bgfooter a:hover {
    color: #CCC; }
    footer #footer section.sub-footer {
      display: flex;
      align-items: center;
      justify-content: center;
      background: white;
      width: 100%;
      padding: 20px 23px; }
    footer #footer section.sub-footer img {
      width: 75px;
      height: 25px;
      margin-right: 20px; }
    footer #footer section.sub-footer p {
      padding: 0;
      margin: 0; }

/**********************************************************************************************
  /**********************************************************************************************
  // Page acceuil
  ***********************************************************************************************
  ***********************************************************************************************/
/************** Titre **************/
.homepage-title {
  margin: 20px !important;
  font-size: 2.3rem; }
  .homepage-title-themeName {
    color: #E7344F;
    font-weight: bold; }
  .homepage-title-link {
    color: #E7344F;
    font-weight: bold; }

/************** Tuiles **************/
.tuile {
  margin-left: 0px;
  margin-top: 0px;
  padding: 15px; }

.tuile_description {
  display: none;
  background-color: white;
  position: relative;
  flex-wrap: wrap;
  margin-top: 65px !important;
  padding: 20px; }

.tuile_description .row {
  display: flex; }

.tuile_description-col {
  padding: 20px;
  font-size: 1.6rem; }

/* ~ extends col-md-6 */
@media (min-width: 992px) {
  .tuile_description-col {
    width: 49%; }
  .tuile_description-line {
    min-height: 50px;
    border-right: #20124D 2px solid;
    width: 1px;
    margin: 20px 0; } }

@media (max-width: 992px) {
  .tuile_description .row {
    display: flex;
    flex-direction: column; }
  .tuile_description-line {
    border-bottom: #20124D 2px solid;
    height: 1px;
    margin: 0 20px; }
  .tuile_description-col {
    width: 100%; } }

.tuile_description-col {
  line-height: 1.2; }

.tuile_description-col-right {
  display: flex;
  flex-direction: column;
  justify-content: center; }

.close_tuile_description {
  position: absolute;
  top: -8px;
  right: -8px;
  width: 34px;
  height: 34px;
  border-radius: 17px;
  border: solid 1px gray;
  background-color: white;
  z-index: 2600; }

/* Icone chevron */
.gg-chevron-right-o {
  box-sizing: border-box;
  position: relative;
  display: block;
  transform: scale(var(--ggs, 1));
  width: 22px;
  height: 22px;
  border: 2px solid;
  border-radius: 100px;
  margin: 15px auto auto auto; }

.gg-chevron-right-o::after {
  content: "";
  display: block;
  box-sizing: border-box;
  position: absolute;
  width: 6px;
  height: 6px;
  border-bottom: 2px solid;
  border-right: 2px solid;
  transform: rotate(-45deg);
  left: 5px;
  top: 6px; }

/*Button */
.course_button {
  width: 100%;
  padding: 0 25% 0 25%;
  margin-top: 5%; }

.course_button .btn {
  width: 100%;
  font-weight: bold;
  font-size: 2rem !important;
  color: white !important;
  background-color: #E7344F !important;
  border-color: #E7344F !important; }

.course_button .btn:hover {
  color: #E7344F !important;
  background-color: white !important;
  border-color: #E7344F !important; }

.course_button .btn-primary:hover {
  color: #E7344F !important;
  background-color: white !important;
  border-color: #E7344F !important; }

.unsubscribe_button {
  width: 100%;
  padding: 0 25% 0 25%; }

.unsubscribe_button .btn-danger {
  width: 100%;
  background-color: white !important;
  border-color: white !important; }

/************** Thumbnails **************/
.triangle {
  width: 50px;
  height: 50px;
  position: absolute;
  z-index: 0;
  background-color: white;
  transform: skew(-70deg, 65deg);
  margin-left: 100px;
  top: 450px;
  display: none; }

.thumbnail .items {
  position: relative; }

.thumbnail .items-hotcourse .img-responsive {
  width: 100%; }

.thumbnail {
  max-height: 340px !important;
  padding: 0px !important;
  margin-bottom: 50px;
  cursor: pointer; }

.thumbnail .block-title {
  height: 25% !important;
  min-height: 125px !important;
  padding: 5px 0 5px 0; }

.thumbnail .title {
  padding: 0 15px 0 15px;
  font-weight: bolder !important;
  display: flex; }

.thumbnail a > img {
  max-height: 220px;
  width: 100%;
  margin: 0 !important; }

/****** Ruban "registred" ******/
.thumbnail .registred {
  position: absolute;
  transform: none;
  top: 10px;
  right: 0px;
  width: 60px;
  display: block;
  padding: 10px 0;
  background: #FF3246;
  color: white;
  text-align: center; }

.thumbnail .registred:before, .thumbnail .registred:after {
  content: "";
  position: absolute;
  right: 60px;
  width: 0;
  height: 0;
  border-right: 20px solid #FF3246;
  border-left: 0; }

.thumbnail .registred:before {
  border-top: 0px solid transparent;
  border-bottom: 20px solid transparent;
  top: 0; }

.thumbnail .registred:after {
  border-top: 20px solid transparent;
  border-bottom: 0px solid transparent;
  bottom: 0; }

/****** Couleurs des thumbnails ******/
.thumbnail .background_1 {
  background-color: #FF3246; }
  .thumbnail .background_1 .registred {
    background-color: #FF3246; }
    .thumbnail .background_1 .registred:before, .thumbnail .background_1 .registred:after {
      border-right-color: #FF3246; }
.thumbnail .background_2 {
  background-color: #E61983; }
  .thumbnail .background_2 .registred {
    background-color: #FF3246; }
    .thumbnail .background_2 .registred:before, .thumbnail .background_2 .registred:after {
      border-right-color: #FF3246; }
.thumbnail .background_3 {
  background-color: #20124D; }
  .thumbnail .background_3 .registred {
    background-color: #FF3246; }
    .thumbnail .background_3 .registred:before, .thumbnail .background_3 .registred:after {
      border-right-color: #FF3246; }
.thumbnail .background_4 {
  background-color: #6DEAEE; }
  .thumbnail .background_4 .registred {
    background-color: #FF3246; }
    .thumbnail .background_4 .registred:before, .thumbnail .background_4 .registred:after {
      border-right-color: #FF3246; }
.thumbnail .background_5 {
  background-color: #24989c; }
  .thumbnail .background_5 .registred {
    background-color: #FF3246; }
    .thumbnail .background_5 .registred:before, .thumbnail .background_5 .registred:after {
      border-right-color: #FF3246; }
.thumbnail .background_6 {
  background-color: #5e0abe; }
  .thumbnail .background_6 .registred {
    background-color: #FF3246; }
    .thumbnail .background_6 .registred:before, .thumbnail .background_6 .registred:after {
      border-right-color: #FF3246; }

/**********************************************************************************************
  /**********************************************************************************************
  // Tableau des grains
  ***********************************************************************************************
  ***********************************************************************************************/
#scorm-info {
  background-color: transparent !important;
  height: 160px; }

.scorm_item_normal {
  background: transparent !important;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  padding: 0;
  border-collapse: collapse;
  border: white 1px solid;
  margin: -2px 0 0 -1px; }

.scorm_item_normal .item {
  background: transparent none no-repeat 10px center !important;
  flex-grow: 2;
  padding-left: 10px;
  font-weight: bolder;
  width: 35px;
  border: white 1px solid;
  border-collapse: collapse; }

.scorm_item_normal.scorm_highlight .item a {
  text-decoration: none;
  color: white !important; }

.scorm_item_normal a.items-list {
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 20px;
  padding: 10px 0; }

.scorm_item_normal .item-status {
  width: 35px;
  border: white 1px solid;
  border-collapse: collapse; }

.scorm_item_normal.scorm_completed .item-status {
  background: transparent url("/main/img/scorm/scorm_current.png") no-repeat 10px center !important; }

.scorm_item_normal.scorm_failed .item-status {
  background: transparent url("/main/img/scorm/scorm_failed.png") no-repeat 10px center !important; }

.scorm_item_normal.scorm_not_attempted .item-status {
  background: transparent url("/main/img/scorm/scorm_highlight.png") no-repeat 10px center !important; }

.scorm_item_normal.scorm_highlight .item, .scorm_item_normal.scorm_highlight.scorm_completed .item, .scorm_item_normal.scorm_highlight.scorm_failed .item, .scorm_item_normal.scorm_highlight .item-status, .scorm_item_normal.scorm_completed.scorm_highlight .item-status, .scorm_item_normal.scorm_highlight.scorm_completed .item-status, .scorm_item_normal.scorm_highlight.scorm_failed .item-status {
  background: #E7344F none no-repeat 10px center !important; }

.scorm_item_normal.scorm_highlight .item-status, .scorm_item_normal.scorm_completed.scorm_highlight .item-status {
  background: transparent url("/main/img/scorm/scorm_highlight.png") no-repeat 10px center !important; }

.scorm_item_normal.scorm_highlight.scorm_completed .item-status {
  background: transparent url("/main/img/scorm/scorm_current.png") no-repeat 10px center !important; }

.scorm_item_normal.scorm_highlight.scorm_failed .item-status {
  background: transparent url("/main/img/scorm/scorm_failed.png") no-repeat 10px center !important; }

.scorm-body {
  padding-left: 8px;
  padding-right: 8px;
  box-sizing: border-box; }

/**********************************************************************************************
  /**********************************************************************************************
  // Divers
  ***********************************************************************************************
  ***********************************************************************************************/
.title-text {
  width: 85%; }

.block-tag {
  padding: 0 15px 0 15px;
  font-size: 1.8rem;
  margin-top: 6%;
  color: white; }

.block-title .title {
  font-size: 2rem;
  color: white !important; }

a {
  color: inherit !important; }

.ranking {
  color: white !important; }

#rating_wrapper_star_3 {
  color: inherit !important; }

.dropdown-menu {
  color: #20124D !important; }

.ranking {
  display: inline-block; }

/* forumaile */
#formLogin_submitAuth {
  background-color: #E7344F;
  border-color: #b4025e; }

/* Photo de profile */
.sidebar-avatar .area-avatar .img-circle {
  border: none !important; }

#learning_path_toc {
  position: relative !important;
  top: unset !important;
  left: unset !important;
  right: unset !important;
  bottom: unset !important; }

.menu-button {
  top: 90px !important; }

#content-scorm {
  height: 90% !important; }

.learnpath-container {
  display: table;
  width: 100%;
  padding: 0;
  /*set left/right padding according to needs*/
  box-sizing: border-box;
  color: white; }

.learnpath-container .menu_gauche {
  padding: 0px 15px; }

.learnpath-container .menu_gauche .lp-view-zone-container {
  padding: 0px 10px 30px;
  background-color: #240A5F; }

.learnpath-container .contenu {
  padding: 0 15px 0 0; }

.learnpath-container .contenu .lp-view-zone-container {
  background: #F3F3F3; }

.learnpath-container .contenu .lp-view-zone-container .lp-view-tabs {
  margin-top: 0px; }

.learnpath-container-title-image {
  background-repeat: no-repeat;
  height: 142px;
  width: 100%;
  background-size: cover;
  display: flex;
  align-items: flex-end;
  padding: 25px; }

.scorm-title h4 {
  line-height: 22px;
  color: inherit; }

.scorm-title h4 span {
  background-color: #E7344F; }

/*
  Custom progress indicator
   */
#progress_bar {
  display: flex;
  justify-content: center; }

#progressIndicator {
  padding: 20px;
  display: inline-block;
  width: 100%;
  max-width: 200px;
  position: relative;
  cursor: pointer; }

#progressIndicator .progressIndicator-text {
  text-align: center;
  font-size: 3rem; }

#progressIndicator .ring-window {
  width: 100%;
  height: 0;
  padding-top: 50%;
  overflow: hidden;
  position: relative; }

#progressIndicator .ring-window::before {
  content: '';
  display: block;
  width: 100%;
  height: 200%;
  border-radius: 50%;
  position: absolute;
  top: 0;
  left: 0;
  background: #ccc; }

#progressIndicator .ring {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 100%;
  overflow: hidden;
  transform-origin: top center;
  transition: transform 1s; }

#progressIndicator .ring::before {
  content: '';
  display: block;
  width: 100%;
  height: 0;
  padding-top: 100%;
  border-radius: 50%;
  position: absolute;
  bottom: 0;
  left: 0;
  box-sizing: border-box;
  background: #4faa4a linear-gradient(to right, rgba(255, 255, 0, 0.4) 0%, transparent 30%);
  transition: background 1s; }

#progressIndicator .ring::after {
  content: '';
  display: block;
  width: 84%;
  height: 0;
  padding-top: 84%;
  border-radius: 50%;
  position: absolute;
  bottom: 16%;
  left: 8%;
  box-sizing: border-box;
  background: #ccc; }

#progressIndicator .low .ring::before {
  background-color: #E5341F; }

#progressIndicator .mid .ring::before {
  background-color: goldenrod; }

#progressIndicator .dial {
  width: 50%;
  position: relative;
  margin-top: -2.5%;
  transform-origin: right center;
  transition: transform 1s; }

#progressIndicator .dial:after {
  content: '';
  display: block;
  width: 10%;
  padding-top: 10%;
  border-radius: 50%;
  background: #ffffff;
  position: absolute;
  top: 0;
  right: -5%; }

#progressIndicator .needle {
  width: 100%;
  height: 0;
  padding-top: 5%;
  padding-bottom: 5%;
  overflow: hidden; }

#progressIndicator .needle::before {
  content: '';
  display: block;
  width: 0;
  height: 0;
  margin-top: -500px;
  border-top: 500px solid transparent;
  border-bottom: 500px solid transparent;
  border-right: 10000px solid #ffffff; }

.lp-view-tabs {
  margin-top: 0; }

.contenu-nextButton-container {
  height: 77px;
  display: flex;
  font-size: 2.8rem;
  justify-content: flex-end;
  padding: 10px; }

.contenu-nextButton-container .container-nextButton {
  height: 40px;
  font-size: 2rem;
  background-color: #E7344F;
  color: white;
  border: #E7344F 1px solid; }

.container-nextButton:hover {
  color: #E7344F !important;
  background-color: white;
  border: #E7344F 1px solid; }

/******************************************
  // IFRAMES DES GRAINS
  ******************************************/
.document_style_superdemain, .page_origin_learnpath {
  max-width: 1000px;
  margin: auto;
  background-color: white !important;
  color: #240A5F !important;
  font-family: 'Dosis', sans-serif; }

/*
  Learn path page and styled document page
   */
#homepage-course, .document_style_superdemain, .page_origin_learnpath {
  font-size: 2rem !important;
  line-height: 24px;
  font-weight: 500 !important;
  color: #240A5F !important; }

#homepage-course h1, .document_style_superdemain h1, .page_origin_learnpath h1 {
  font-size: 4rem !important;
  text-transform: uppercase !important;
  color: #240A5F !important;
  font-weight: 600 !important;
  margin-bottom: 50px;
  margin-top: 40px; }

#homepage-course h2, .document_style_superdemain h2, .page_origin_learnpath h2 {
  font-size: 2.8rem !important;
  color: #E7344F !important;
  font-weight: 400 !important;
  margin-bottom: 20px; }

#homepage-course h3, .document_style_superdemain h3, .page_origin_learnpath h3 {
  font-size: 2.4rem !important;
  color: #240A5F !important;
  font-weight: 500 !important;
  margin-bottom: 20px; }

#homepage-course h4, .document_style_superdemain h4, .page_origin_learnpath h4 {
  font-size: 20px !important;
  color: #62CBD6 !important;
  font-weight: 700 !important;
  margin-bottom: 20px; }

#homepage-course h5, .document_style_superdemain h5, .page_origin_learnpath h5 {
  font-size: 1.6rem !important;
  font-weight: 500 !important;
  margin-bottom: 20px;
  color: #240A5F; }

#homepage-course a, .document_style_superdemain a, .page_origin_learnpath a {
  text-decoration: underline;
  color: #24989c !important; }

#homepage-course a:hover, .document_style_superdemain a:hover, .page_origin_learnpath a:hover {
  text-decoration: underline;
  color: #6DEAEE !important; }

/* result page */
.page_origin_learnpath .question_row_score .title-score .total {
  border: none;
  background: none;
  padding-left: 0; }

.page_origin_learnpath .question_row_score .title-score .total .total-scoreTitle {
  text-align: left; }

.page_origin_learnpath .title-score {
  min-height: 150px; }

.page_origin_learnpath .title-score h4 {
  float: left;
  margin-top: 16px;
  padding-right: 10px;
  /*// same style as h3*/
  font-size: 2.4rem !important;
  color: #240A5F !important;
  font-weight: 500 !important;
  margin-bottom: 20px; }

.page_origin_learnpath .title-score h5 {
  float: left; }

.page_origin_learnpath .ribbon .rib-error, .page_origin_learnpath .ribbon .ribbon-total-error {
  background: #ff0084; }

.page_origin_learnpath .ribbon .rib-error h3, .page_origin_learnpath .ribbon .ribbon-total-error h3 {
  color: #ffffff !important; }

.page_origin_learnpath .ribbon .rib-success, .page_origin_learnpath .ribbon .ribbon-total-success {
  background: #0099c0; }

.page_origin_learnpath .ribbon .rib-success h3, .page_origin_learnpath .ribbon .ribbon-total-success h3 {
  color: #ffffff !important; }

.page_origin_learnpath .btn.btn-info {
  color: #ffffff !important;
  background-color: #0099c0;
  text-decoration: none;
  font-size: 1.8rem; }

.page_origin_learnpath table:not(.matching) td.user-answer-label, .page_origin_learnpath table:not(.matching) td.user-answer-label p, .page_origin_learnpath table:not(.matching) td.user-answer, .page_origin_learnpath table:not(.matching) td.user-answer p {
  font-size: 1.6rem; }

/* MODAL */
@media (min-width: 768px) {
  .document_style_superdemain .modal-dialog, .page_origin_learnpath .modal-dialog {
    width: 800px;
    max-width: 100%; } }
.document_style_superdemain .incorrect-answer, .page_origin_learnpath .incorrect-answer {
  color: #E61983 !important; }
.document_style_superdemain .next-exercice-button, .page_origin_learnpath .next-exercice-button {
  background-color: #0099c0;
  border-color: #0099c0;
  color: #20124D !important;
  text-decoration: none; }
  .document_style_superdemain .next-exercice-button:hover, .page_origin_learnpath .next-exercice-button:hover {
    background-color: #FFFFFF;
    border-color: #00c2f3;
    color: #20124D !important;
    text-decoration: none; }
  .document_style_superdemain .next-exercice-button:focus, .page_origin_learnpath .next-exercice-button:focus {
    background-color: #FFFFFF;
    border-color: #00c2f3;
    color: #20124D !important;
    text-decoration: none; }
.document_style_superdemain #global-modal-body tr:not(:first-child) td:first-child, .page_origin_learnpath #global-modal-body tr:not(:first-child) td:first-child {
  font-size: 1.6rem; }

.document_style_superdemain #global-modal-body tr:first-child td, .page_origin_learnpath #global-modal-body tr:first-child td {
  font-weight: bold; }

.document_style_superdemain .answer-correct, .page_origin_learnpath .answer-correct {
  color: #0099c0; }

.document_style_superdemain .answer-false, .page_origin_learnpath .answer-false {
  color: #E61983; }

.exercise_overview_options {
  background-color: white;
  text-align: left; }

.exercise_overview_options .btn-success {
  background-color: #0099c0;
  border-color: #0099c0;
  line-height: 3rem;
  width: 170px;
  height: 40px;
  font-size: 1.8rem;
  font-weight: 800;
  color: #20124D !important;
  text-decoration: none; }

.exercise_overview_options .btn-success:hover {
  background-color: #FFFFFF;
  border-color: #00c2f3;
  color: #20124D !important;
  text-decoration: none; }

.exercise_overview_options .btn-success:focus {
  background-color: #FFFFFF;
  border-color: #00c2f3;
  color: #20124D !important;
  text-decoration: none; }

.form-actions .btn {
  background-color: #0099c0;
  border-color: #0099c0;
  color: #20124D !important;
  text-decoration: none;
  font-size: 2rem; }
  .form-actions .btn:hover {
    background-color: #FFFFFF;
    border-color: #0099c0;
    color: #20124D !important;
    text-decoration: none; }
  .form-actions .btn:focus {
    background-color: #FFFFFF;
    border-color: #0099c0;
    color: #20124D !important;
    text-decoration: none;
    outline: none; }

.ui-draggable circle {
  fill: #20124D; }

.window_left_question, .window_right_question {
  background: #FFFFFF !important; }

/* profile page*/
#profile_block img {
  width: 27px; }
